body {
    background-color: #121212;
    color: white;
}

.navbar {
    background-color: #232F3E;
}

.navbar-brand {
    color: #ffe600;
    font-size: 1.5rem;
    font-weight: bold;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.form-control {
    width: 100%;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #ffe600;
}

.dropdown-menu {
    background-color: #232F3E;
}

.dropdown-menu a {
    color: white;
}

.dropdown-menu a:hover {
    background-color: #FF9900;
    color: white;
}

.container {
    margin-top: 20px;
}

.producto {
    background-color: #232F3E;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.producto:hover {
    transform: scale(1.02);
}

img {
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

h4 {
    color: #ffe600;
}

.linkver{
    color: #ffe600 ;
    
}

p {
    color: #ccc;
}

.form-select {
    background-color: #232F3E;
    color: #ffe600;
    border: none;
}

.form-select option {
    background-color: #232F3E;
    color: white;
}

.text-end {
    color: #ffe600;
}


.imagen-usuario, .imagen-producto{
    width: 300px;
    height: 300px;
}











/* Estilos para las modales */
.modal-content {
    background-color: #232F3E; 
    color: #ffffff;
}

.modal-header {
    border-bottom: 1px solid #ffe600; 
}

.modal-title {
    color: #ffe600; 
}

.btn-close {
    background-color: transparent;
    color: #ffe600; 
}

.btn-close:hover {
    color: #ffcc00; 
}

.modal-footer .btn {
    background-color: #ffe600; 
    color: #232F3E; 
}

.modal-footer .btn-secondary {
    background-color: #444; 
    color: #ffffff; 
}

.modal-footer .btn-secondary:hover {
    background-color: #555; 
}

.modal-body .form-label {
    color: #ffffff; 
}

.modal-body .form-check-label {
    color: #ffffff;
}
